<div id="main-container" class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <ul class="nav nav-tabs" role="tablist">
        <li><%= link_to 'Damper Inspection',  pdfjobs_path %></li>
        <li><%= link_to 'Damper Repair',  damper_repair_pdfjobs_path %></li>
        <li class="active"><%= link_to 'FireDoor Inspection',  firedoor_inspection_pdfjobs_path %></li>
        <li><%= link_to 'Firestop Survey',  firestop_survey_pdfjobs_path %></li>
        <li><%= link_to 'Firestop Installation',  firestop_installation_pdfjobs_path %></li>
      </ul>
    </div>
  </div>
</div>

<h1>FIREDOORINSPECTION</h1>