<div id="main-container" class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <ul class="nav nav-tabs" role="tablist">
        <li><%= link_to 'Damper Inspection',  pdfjobs_path %></li>
        <li><%= link_to 'Damper Repair',  damper_repair_pdfjobs_path %></li>
        <li><%= link_to 'FireDoor Inspection',  firedoor_inspection_pdfjobs_path %></li>
        <li><%= link_to 'Firestop Survey',  firestop_survey_pdfjobs_path %></li>
        <li class="active"><%= link_to 'Firestop Installation',  firestop_installation_pdfjobs_path %></li>
      </ul>
    </div>
  </div>
</div>

<h1>Listing of FireStop Installation(<%= @firestop_installation_count %>)</h1>

<div class="table-responsview">
  <table class="table table-bordered border-striped" cellspacing="0" width="100%" id ="example">
    <thead>
      <tr>
        <!-- <th>Group Name(u_facility_name)</th>
        <th>Facility Name(u_group_name)</th> -->
        <th>Job ID(u_job_id)</th>
        <!-- <th>Job Start Date(u_job_start_date)</th>
        <th>Job End Date(u_job_end_date)</th> -->
        <th>Service ID(u_service_id)</th>
        <!-- <th>Asset ID(u_asset_id)</th>
        <th>Building(u_building)</th> -->
        <th>Asset Name(u_tag)</th>
        <!-- <th>Location(u_location_desc)</th> -->
        <th>Floor(u_floor)</th>        
        <th>Barrier Type(u_barrier_type)</th>
        <th>Penetration(u_penetration_type)</th>
        <th>Status(u_service_type)</th>
        <th>Issue Type(u_issue_type)</th>
        <!-- <th>Corrected URL System(u_corrected_url_system)</th>
        <th>Suggested UL System(u_suggested_ul_system)</th> -->
        <th>Active(u_active)</th>
        <th>Delete(u_delete)</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @firestop_installation.each do |fsi| %>
        <tr>
          <td><%= fsi.u_job_id %></td>
          <td><%= fsi.u_service_id %></td>
          <td><%= fsi.u_tag %></td>
          <td><%= fsi.u_floor %></td>
          <td><%= fsi.u_barrier_type %></td>
          <td><%= fsi.u_penetration_type %></td>
          <td><%= fsi.u_service_type %></td>
          <td><%= fsi.u_issue_type %></td>
          <td><%= fsi.u_active %></td>
          <td><%= fsi.u_delete %></td>
          <td><%= link_to 'Destroy', pdfjob_path(fsi), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
