<div id="main-container" class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <ul class="nav nav-tabs" role="tablist">
        <li class="active"><%= link_to 'Damper Inspection',  pdfjobs_path %></li>
        <li><%= link_to 'Damper Repair',  damper_repair_pdfjobs_path %></li>
        <li><%= link_to 'FireDoor Inspection',  firedoor_inspection_pdfjobs_path %></li>
        <li><%= link_to 'Firestop Survey',  firestop_survey_pdfjobs_path %></li>
        <li><%= link_to 'Firestop Installation',  firestop_installation_pdfjobs_path %></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-6">
        <h1>Listing of Damper Inspection(<%= @damper_inspection_count %>)</h1>
      </div>
      <div class="col-xs-6">
        <%= will_paginate  @damper_inspection %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="table-responsview">
        <table class="table table-bordered border-striped" cellspacing="0" width="100%" id ="example">
          <thead>
            <tr>
              <!-- <th>Group Name(u_facility_name)</th>
              <th>Facility Name(u_group_name)</th> -->
              <th>Job ID(u_job_id)</th>
              <!-- <th>Job Start Date(u_job_start_date)</th>
              <th>Job End Date(u_job_end_date)</th> -->
              <th>Service ID(u_service_id)</th>
              <!-- <th>Asset ID(u_asset_id)</th>
              <th>Building(u_building)</th> -->
              <th>Asset Name(u_tag)</th>
              <!-- <th>Location(u_location_desc)</th> -->
              <th>Floor(u_floor)</th>
              <th>Type(u_type)</th>
              <th>Damper Name(u_damper_name)</th>
              <th>Status(u_status)</th>
              <!-- <th>Failure Reasons(u_reason)</th>
              <th>Non-Accessible Reasons(u_non_accessible_reasons)</th>
              <th>Access Door(u_access_size)</th> -->
              <th>Active(u_active)</th>
              <th>Delete(u_delete)</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% @damper_inspection.each do |di| %>
              <tr>
                <td><%= di.u_job_id %></td>
                <td><%= di.u_service_id %></td>
                <td><%= di.u_tag %></td>
                <td><%= di.u_floor %></td>
                <td><%= di.u_type %></td>
                <td><%= di.u_damper_name %></td>
                <td><%= di.u_status %></td>
                <td><%= di.u_active %></td>
                <td><%= di.u_delete %></td>
                <td><%= link_to 'Destroy', pdfjob_path(di), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>